img {
width: 200px;
}
h1, h3, h4, h5, h6 {
text-align: center;
font-family: "Jua", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 25px;

}
h2 {
font-family: "Jua", sans-serif;
font-weight: 400;
font-style: normal;

text-align: center;
font-size: 15px;
vertical-align: 20px;

}
p {
text-align: start;

}




