img {
width: 200px;
}
h1, h3, h4, h5, h6 {
text-align: center;
font-family: "Jua", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
color: pink;

}
h2 {
font-family: "Jua", sans-serif;
font-weight: 400;
font-style: normal;

text-align: center;
font-size: 15px;
vertical-align: 20px;
color: pink;

}
p {
text-align: center;
font-family: "Parkinsans", sans-serif;
font-optical-sizing: auto;
font-weight: 250;
font-style: normal;
line-height: 0.5;

}

button {
font-family: "Parkinsans", sans-serif;
font-optical-sizing: auto;
font-weight: 250;
font-style: normal;
background-color: white;
color: pink;


}

.navbar ul{
list-style-type: none;
background-image: 
}
