body {
background-image: url("assets/websitebackground.png");
background-repeat: no-repeat;
background-size: 100% 100%;
background-position: center top;
background-attachment: fixed;
}

p {
text-align: center;
font-family: "Parkinsans", sans-serif;
font-optical-sizing: auto;
font-weight: 250;
font-style: normal;
line-height: 1.7;
color: rgb(0, 0, 0);
}

.cfavs {
width:330px;
height:250px;
position: absolute;
left: 830px;
top: 300px;

}


.header {
margin-left: -520px;
margin-top: 0px;
color: rgb(255, 158, 198);
}

.decoration {
margin-left: -520px;
margin-top: -15px;
color: rgb(255, 158, 198);
}

.info-1 {
margin-left: -520px;
margin-top: -5px;
color: black;
font-size: 14px;
line-height: 20px;
}

.info-2 {
margin-left: -500px;
margin-top: 0px;
color: black;
font-size: 14px;
line-height: 20px;
}

.info-3 {
margin-left: -500px;
margin-top: 5px;
color: black;
font-size: 14px;
line-height: 20px;
}

.info-4 {
margin-left: -500px;
margin-top: 5px;
color: black;
font-size: 14px;
line-height: 20px;
}

.info-5 {
margin-left: -500px;
margin-top: 5px;
color: black;
font-size: 14px;
line-height: 20px;
}

.info-6 {
margin-left: -500px;
margin-top: 5px;
color: black;
font-size: 14px;
line-height: 20px;
}

.info-7 {
margin-left: -500px;
margin-top: 5px;
color: black;
font-size: 14px;
line-height: 20px;
}


.navbar ul{
text-align: center;
list-style-type: none;
padding: 75px;
margin: 0;
display: flex;
justify-content: center;
font-family: "Jua", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 17px;
}

.navbar a{
color: rgb(255, 255, 255);
text-decoration: none;
padding: 10px;
display: block;
text-align: center;
}

#catapi_image_elem {
width: 170px;
height: auto;
display: block;
margin: 20px 0 20px 400px;


}
