body {
background-image: url("assets/miffy.jpg");
background-repeat: none;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

button {
justify-content: center;
}

h1, h3, h4, h5, h6 {
text-align: center;
font-family: "Jua", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 25px;
color: rgb(255, 255, 255);

}

h2 {
font-family: "Jua", sans-serif;
font-weight: 400;
font-style: normal;

text-align: center;
font-size: 15px;
vertical-align: 20px;
color: rgb(255, 255, 255);

}

p {
text-align: center;
font-family: "Parkinsans", sans-serif;
font-optical-sizing: auto;
font-weight: 250;
font-style: normal;
line-height: 1.7;
color: white;

}

button {
font-family: "Parkinsans", sans-serif;
font-optical-sizing: auto;
font-weight: 250;
font-style: normal;
background-color: white;
color: pink;
}

.navbar ul{
text-align: center;
list-style-type: none;
padding: 0px;
margin: 0;
display: flex;
justify-content: center;
font-family: "Jua", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 17px;
}

.navbar a{
color: rgb(255, 255, 255);
text-decoration: none;
padding: 10px;
display: block;
text-align: center;
}

